body {
  background: #0000aa;
  font-family: courier;
  font-size: 18px;
  text-align: center;
  color:#fff;
}

.container {
  margin: 200px auto 0;
  width: 800px;
}

h1 {
  background-color: #ccc;
  padding: 2px 8px;
  display: inline-block;
  font-size: 18px;
  color: #0000aa;
}

p {
  margin: 20px 0;
  padding: 0;
  text-align:left;
}

@-webkit-keyframes blinker {
  0% { visibility: visible; }
  50% { visibility: hidden; }
  100% { visibility: visible; }
}
.blink {
  -webkit-animation: blinker steps(1) 1s infinite;
}