html,
body {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
}

li {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  width: 31%;
  margin: 0 1%;
  text-align: center;
  transition: all 0.5s ease;
}

li:hover {
  background-color: #e74c3c;
  color: white;
}

li p {
  margin-top: 10px;
}

.fa {
  font-size: 60px;
}