html,
body {
  height: 100%;
}

body {
  line-height: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #428bca;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: #2a6496;
}

pre {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 20px;
  font-size: 11px;
}

blockquote {
  background-color: #f1f1f1;
  border-left: 2px solid #ddd;
  margin: 0;
  padding: 1px 15px;
}

.container,
.main-container {
  margin-right: auto;
  margin-left: auto;
  width: 990px;
}

.site-header {
  background: #fff;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
  min-height: 60px;
  *zoom: 1;
}

.site-header:before,
.site-header:after {
  content: " ";
  display: table;
}

.site-header:after {
  clear: both;
}

.site-header-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

.site-header-nav li {
  margin: 0;
  padding: 0;
  float: left;
}

.site-header-nav li a {
  padding: 0 15px;
  height: 60px;
  display: block;
  line-height: 60px;
  text-decoration: none;
  color: #afafaf;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.site-header-nav li a:hover {
  color: #333;
}

.site-brand {
  background: #e74c3c;
  margin: 0 auto;
  padding: 0 15px;
  height: 60px;
  line-height: 60px;
  display: block;
  float: left;
  text-decoration: none;
  color: #fff;
}

.site-brand:hover {
  color: #fff;
}

.main-container {
  padding-bottom: 15px;
}

.page-header {
  border-bottom: 1px solid #eee;
  margin: 40px 0 20px;
  padding-bottom: 9px;
}

.articles {
}

.articles .article-preview {
  margin-bottom: 30px;
}

.article header h1,
.article header h2 {
  margin-bottom: 5px;
}

.article header time {
  margin-bottom: 15px;
  display: block;
  font-size: 12px;
}

.adsense-block {
  background-color: #f1f1f1;
  width: 468px;
  height: 60px;
}