---
permalink: /projects/
title: Projects
---

<div class="container">

  <div class="card-deck-wrapper">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="http://placeskull.com/355/170/225378" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="http://placeskull.com/355/170/1695A3" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="http://placeskull.com/355/170/ACF0F2" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center my-5">Open Source Projects</h2>

  {% assign repositories = site.github.public_repositories %}
  {% assign repositories = repositories | where_exp: 'item', 'item.full_name != site.github.repository_nwo' %}
  {% assign filtered = "" | split: "" %}
  {% for item in repositories %}
    {% unless item.description contains '[UNMAINTAINED]' %}
      {% assign filtered = filtered | push: item %}
    {% endunless %}
  {% endfor %}
  {% assign repositories = filtered | sort: 'updated_at' | reverse %}

  {% for item in repositories %}
  {% assign mod = forloop.index | modulo: 2 %}

    {% cycle 'opening_div': '<div class="card-deck mb-4">', '' %}

      <div class="card">
        <div class="card-body">
          <span class="badge badge-secondary pull-right">{{ item.language }}</span>
          <h4 class="card-title">
            <a href="{{ item.repository_url }}" target="_blank">{{ item.name }}</a>
          </h4>
          <ul class="list-inline project-stats">
            <li class="list-inline-item">
              <i class="fa fa-eye"></i> {{ item.watchers_count }}
            </li>
            <li class="list-inline-item">
              <i class="fa fa-star"></i> {{ item.stargazers_count }}
            </li>
            <li class="list-inline-item">
              <i class="fa fa-code-fork"></i> {{ item.forks_count }}
            </li>
          </ul>
          <p class="card-text">{{ item.description }}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated <time class="timeago" datetime="{{ item.updated_at | date_to_xmlschema }}" title="{{ item.updated_at | date: site.date_format }}"></time></small>
        </div>
      </div>

    {% if forloop.last == true %}
      {% if mod != 0 %}
        <div class="card"></div>
      {% endif %}
      </div>
    {% else %}
      {% cycle 'closing_div': '', '</div>' %}
    {% endif %}

  {% endfor %}

</div>
