# gitignore - Specifies intentionally untracked files to ignore
# http://git-scm.com/docs/gitignore

# bundler
.bundle
vendor
tmp

# jekyll build artifacts
_site
.jekyll-metadata

# asset build artifacts
.sass-cache
