<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{{ '/' | relative_url }}">
        <img height="30" src="{{ '/assets/img/logo.svg' | relative_url }}" alt="{{ site.title }}">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% assign navigation = site.data.navigation[include.nav] %}
        <ul class="navbar-nav mr-auto">
          {% for nav in navigation %}
            {% if nav.url %}
              {% if nav.url contains "://" %}
                {% assign nav_url = nav.url %}
              {% else %}
                {% assign nav_url = nav.url | relative_url %}
              {% endif %}
              {% if nav.url == page.url %}
                {% assign active = "active" %}
              {% else %}
                {% assign active = "" %}
              {% endif %}
              <li class="nav-item {{ active }}">
                <a class="nav-link" href="{{ nav_url }}">{{ nav.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="https://twitter.com/syntaqx"><i class="fab fa-twitter"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/syntaqx/"><i class="fab fa-linkedin"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="https://github.com/syntaqx"><i class="fab fa-github"></i></a></li>
          <li class="nav-item"><a class="btn ml-4 btn-outline-dark" href="{{ '/login' | relative_url }}">Sign in</a></li>
          <li class="nav-item"><a class="btn ml-2 btn-primary" href="{{ '/join' | relative_url }}">Sign up</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
