<nav id="navbar-primary" class="navbar navbar-light static-top navbar-expand-sm" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <div class="container">
    <a class="navbar-brand" href="{% link index.html %}">
      {{ site.title }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
      {% for item in site.data.navigation.primary %}
        {% assign active = "" %}
        {% if item.url == page.url %}{% assign active = " active" %}{% endif %}

        {% if item.children == null %}
        <li class="nav-item {{ active }}">
          <a class="nav-link" href="{{ item.url | relative_url }}" itemprop="url">
            <span itemprop="name">{{ item.title }}</span>
          </a>
        </li>
        {% else %}
        <li class="nav-item dropdown {{ active }}">
          <a class="nav-link dropdown-toggle" href="{{ item.url | relative_url }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ item.title }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% for child in item.children %}
            <a class="dropdown-item" href="{{ child.url | relative_url }}">{{ child.title }}</a>
          {% endfor %}
          </div>
        </li>
        {% endif %}
      {% endfor %}
      </ul>
      <!-- <form class="form-inline mr-4">
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
          </span>
        </div>
      </form> -->
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="https://github.com/syntaqx" target="_blank"><i class="fa fa-github"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="https://twitter.com/syntaqx/" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/syntaqx/" title="Atom Feed"><i class="fa fa-linkedin"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.feed.path | absolute_url }}" title="Atom Feed"><i class="fa fa-rss"></i></a></li>
        <!-- <li class="nav-item"><a class="nav-link" href="{% link _pages/auth/login.md %}">Sign in</a></li> -->
        <!-- <li class="nav-btn"><a class="btn btn-primary" href="{% link _pages/auth/register.md %}">Sign up</a></li> -->
      </ul>
    </div>
  </div>
</nav>
