:root {
  --maincolor: #00D1CA !important;
  --bordercl: #00D1CA !important;
  --callouctcolor: dodgerblue !important;
  --hovercolor: #00D1CA !important;
  --darkMaincolor: #00D1CA !important;
  --bgcolor: #fffff8;
}

html {
  color: #232333;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  line-height: 1.6em;
}

a:hover {
  background-color: var(--hovercolor);
  color: var(--bgcolor) !important;
}

.navbar-brand {
  border: 0;
}

.navbar-brand:hover {
  background-color: transparent;
  opacity: 0.8;
}

.navbar-brand img {
  border: 0;
  display: inline-block;
  vertical-align: middle;
}

/* list box */
.list-item {
  border: 1px solid var(--bordercl);
  border-radius: 0.2em;
  box-shadow: 5px 5px 7px #f1e9fd;
  padding: 0 1.5em 1.5em 1.5em;
  margin: 2em 0 2em 0;
}
.list-item .description {
  padding: 1.75em;
}
.list-item .readmore {
  display: inline-block;
  margin: 0;
  padding: 0.3em 0.8em;
  border-radius: 3rem;
}

footer {
  border-top-color: var(--bordercl)
}
