/* Sticky Footer */

.flex-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.flex-content {
  padding: 5em 0 50px;
  flex: 1;
}

/* Navbar */

#navbar-primary {
  background-color: #fff;
  border-bottom: 1px solid #f0f0f2;
  min-height: 5rem;
}

/* Syntax Highlighting */

.highlight {
  padding: 15px;
}

/* Post */

.post {
  margin-top: 4rem;
}

.post-header {
  margin-bottom: 2rem;
}

.post-title,
.post-title a {
  color: #423F37;
}

.post-meta {
  padding: 0;
  list-style: none;
  font-size: 14px;
}

.post-meta-item {
  margin: 0;
  padding: 0;
  display: inline-block;
  color: #b3b3b1;
}

.post-meta-item::before,
.post-meta-item::after {
  margin: 0 0.25rem;
  display: inline;
  color: #9b9aa1;
}

.post-meta-item:not(:last-child)::after {
  content: "–";
}

/* Search Results */

.search-results-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-results-list li {
  border-bottom: 1px solid #eee;
  margin: 0 0 1.5rem;
  padding: 0 0 1.5rem;
}

.search-result-url {
  margin-bottom: 0.25rem;
  font-size: 80%;
}

.search-result-excerpt {
  margin-bottom: 0;
}

/* Article Feeds Line */

.article-feeds {
  text-align: center;
}

/* Projects */

.project-stats {
  font-size: 14px;
  color: #868e96;
}

.project-stats a {
  color: #868e96;
}

.project-stats a:hover {
  text-decoration: none;
  color: #000;
}

.project-stats .list-inline-item:not(:last-child) {
  margin-right: 8px;
}

/* Footer */

.footer {
  background: #29292c;
  padding: 24px 0;
}

.footer a {
  color: #9b9aa1;
}

.footer .list-inline {
  margin-bottom: 0;
}
