---
layout: default
---

{% assign author = post.author | default: post.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] %}

<div class="container mt-5">

  <div class="post-list">
  {% for post in paginator.posts %}
    <article class="post-list-item">
      <header>
        <h2 class="post-title"><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
        <ul class="post-meta">
          <li class="post-meta-item">
            {% include time.html datetime=post.date %}
          </li>

          {% if author %}
          <li class="post-meta-item">
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span itemprop="name">
                <a href="{{ author.url }}" rel="author">{{ author.name }}</a>
              </span>
            </span>
          </li>
          {% endif %}
        </ul>
      </header>
      <div>
        {{ post.excerpt }}
      </div>
      <div>
        <a href="{{ post.url | absolute_url }}" class="btn btn-outline-secondary" role="button">
          Continue Reading <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </a>
      </div>
    </article>
  {% endfor %}
  </div>

  {% include pagination.html %}

</div>
