---
layout: default
---

{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] %}

<div class="container">
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
      <ul class="post-meta">
        <li class="post-meta-item">
          {% include time.html datetime=page.date %}
        </li>
        {% if author %}
        <li class="post-meta-item">
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">
              <a href="{{ author.url }}" rel="author">{{ author.name }}</a>
            </span>
          </span>
        </li>
        {% endif %}
        <li class="post-meta-item">
          {% include reading-time.html %}
        </li>
      </ul>
    </header>
    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>
  </article>
</div>
