---
layout: compress
---

<!doctype html>
<html lang="{{ page.lang | slice: 0,2 }}">
{% include head.html %}
<body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">

  <style>

    body {
      background-color: #f9f9f9;
      text-align: center;
    }

    .not-found,
    .license {
      height: 100vh;
      max-width: 800px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .license-body {
      margin: 0 auto;
      text-align: left;
    }

    </style>

  {% include skip-links.html %}

  <main id="main" aria-label="Content">

    {{ content }}

  </main>

  {% include scripts.html %}

</body>
</html>
